.loginpage {
    width: 100%;
    height: 480px;
    overflow-y: hidden;
    background-color: white;
    .login{
        width: 450px;
        height: 500px;
        position: absolute;
        margin-left: 25%;
        border-radius: 1.3rem;
        >img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin: 10px;
            margin-left: 40%;
            text-align: center;
        }
        >form{
            display: flex;
            flex-direction: column;
            justify-content: left;
    
            >input{
                margin: 20px 5px;
                height: 60px;
                font-size: 20px;
                outline: none;
                background-color: transparent;
                border: white 1px solid;
    
            }
            .buttons{
                display: flex;
                flex-direction:row ;
                justify-content: space-around;
                >button{
                    width: 80px;
                    height: 30px;
                    background-color:black ;
                    color: white;
                    font-size: 16px;
                    border-radius: 5px;
                    margin-top: 2rem;
                    cursor: pointer;
                    &:hover{
                        opacity: 0.6;
                    }
                }
            }
        }
        .signupbutton{
            display:flex ;
            flex-direction: row;
            margin-top: 60px;
            margin-left: 10px;
            cursor: pointer;
            span{
                margin-left: 7px;
                color: red;
            }
            >button{
                    width: 80px;
                    height: 30px;
                    font-size: 16px;
                    text-decoration: none;
                    background-color: transparent;
                    border: none;
                    font-size: 20px;
                    font-weight: bold;
                    margin-top: -0.7rem;
                    margin-left: 2rem;
                    cursor: pointer;
                    &:hover{
                        opacity: 0.6;
                    }
            }
            >p{
                cursor: pointer;
            }
        }
    }
}

.signuppage {
    width: 100%;
    height: 480px;
    background-color: white;
    .signup{
        width: 450px;
        height: 500px;
        position: absolute;
        margin-left: 25%;
        border-radius: 1.3rem;
        >img{
            width: 100px;
            height: 100px;
            margin: 10px;
            margin-left: 40%;
            text-align: center;
        }
        >form{
            display: flex;
            flex-direction: column;
            justify-content: left;
            >label{
                font-size: 22px;
                display: flex;
                flex-direction: column;
                color: rgb(33, 30, 30);
            }
            >input{
                margin: 10px 0 4px 0;
                height: 35px;
                font-size: 20px;
                outline: none;
                background-color: transparent;
                border: white 1px solid;
    
            }
            .buttons{
                display: flex;
                flex-direction:row ;
                justify-content: space-around;
                >button{
                    width: 80px;
                    height: 30px;
                    background-color:black ;
                    color: white;
                    font-size: 16px;
                    border-radius: 5px;
                    margin-top: 0.7rem;
                    cursor: pointer;
                    &:hover{
                        opacity: 0.6;
                    }
                }
            }
        }

    }
}
.message{
    background-color: rgb(0, 114, 0);
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    color: white;
    padding: 0.5rem;
}