header {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    border-radius: 0.3rem;
    background-color: #2861b7;
    color: #FFFF;
    border-bottom: 2px solid #C0C0C0;
    position: fixed;
    top: 0;
    overflow: none;
    
    .logo {
        font-size: 1.5rem;
        font-weight: 100;
        width: fit-content;
        display: flex;
        flex-direction: row;
        cursor: pointer;
        h4 {
            margin-top: 30px;
            font-weight: 300;
        }

        img {
            width: 100px;
            margin-top: 5px;
            height: 70px;
        }
    }

    .nav {
        height: fit-content;
        margin: 1.5rem;
        text-decoration: none;
        .log{
            text-decoration: none;
            color: white;
            &:hover{
                color: red;
                cursor: pointer;
            }
        }

        >svg {
            font-size: 1.3rem;

        }

        >select {
            cursor: pointer;
            border: none;
            font-size: 0.8rem;
            border-radius: 2rem;
            background-color: #009B77;

        }

    }

}
.message{
    color: black;
}