*{
  font-family: 'Zefani', serif;
}

.sidebar {
    width: 15%;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 4.6rem;
    left: 0;
    height: 100%;
    border-right: 2px solid black;
    border-radius: 0.5rem;
    display: flex;
    font-size: 1.0001rem;
    background-color: #2F4F4F;
    color: #FFFFFF; 
  .username{
    background-color: white;
   text-align: center;
    >P{
      color: #000000;
    }
  }
    ul {
      margin: 2rem 0 0 0.3rem;
      list-style: none;
      
      li {
        padding: 1rem 1rem 0 1rem;
        font-weight: 800;
        justify-content: space-between;
        cursor: pointer;
        #name{
          text-decoration: none;
          color: white;
          background-color: red;
          border-radius: 10%;
          &:hover{
            background-color: #000000;
          }
        }
  
        > div {
          align-items: center;
          border:1px solid transparent;
          padding: 1rem;
          &:hover{
            background-color: #517272;
            cursor: pointer;
            border-radius: 7%;
            transition: 0.3s all;
          }
          
          > svg {
            margin-right: 0.6rem;
            // margin-top: 0.3rem;
            padding-top: 0.2rem;
          }
        }
  
        > ul {
          display: none;
          margin-top: 0.5rem;
          padding-left: 1rem;
          list-style: none;
          transition: all 0.5s ease;
          width: max-content;
        font-weight: 700;
        margin-bottom: -1rem;
          li {
            padding: 0.5rem 0;
            font-weight: normal;
            cursor: pointer;
            
            &:hover {
              color: red;
            }
          }
        }
  
        > ul.visible {
          display: block;
          opacity: 1;
          max-height: 500px; // Adjust this value based on the number of submenu items
          overflow: hidden;
        }
      }
    }
  }
  