@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    // font-family: "Nanum Gothic", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    //border: 1px solid red;

}
.mainclass{
    position: absolute;
    top: 5rem;
    left: 15%;
    right: 0;
    object-fit: contain;
    overflow-x: hidden;
    z-index: -100;
}