
// Font Variables
$font-family-primary: 'Roboto', sans-serif;

* {
  font-family: $font-family-primary;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width:thin; 
  scrollbar-color: #8a8a8aa3 transparent; 
  scroll-behavior: smooth;
}
