
// Font Variables
$font-family-primary: 'Roboto', sans-serif;

* {
  font-family: $font-family-primary;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #888 #f1f1f1; /* For Firefox */
}

// Scrollbar styling for Webkit (Chrome, Edge, Safari)
::-webkit-scrollbar {
  width: 8px; /* Scrollbar width */
  height: 8px; /* Scrollbar height */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar handle color */
  border-radius: 4px; /* Rounded edges */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker on hover */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track background */
  border-radius: 4px;
}
